*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
  }
  header{
    position: fixed;
    background-color: #000;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid #fafafa93;
    z-index: 100;
  }
  header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin: auto;
    height: 80px;
  }
  header NAV .logo{
    color: #fff;
    font-size: 30px;
    font-weight: bolder;
  }
  header nav .LOGO span{
    color: #64c864;
  }
  header nav .links{
    display: flex;
  }
  header nav .links li{
    position: relative;
    margin: 0 25px;
    height: 80px;
    line-height: 80px;
    list-style: none;
  }
  header nav .links li::after{
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background: #64c864;
    transition: 0.3s;
  }
  header nav .links li:hover::after,
  header nav .links li.active::after{
    width: 100%;
  }

  header nav .links li a{
    color: #c8c6c6;
    font-size: 17px;
  }
  header nav .social-links a i{
    color: #64c864;
    font-size: 24px;
    margin-left: 15px;
  }
  header nav .social-links a i:hover{
    color: #fafafa;
}
.qa-sec{
    height: 100vh;
    background: url(../images/bg.jpeg);
    background-size: cover;
    background-position: top;
    overflow: auto;
}
.qa-sec .contanier{
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.qa-sec .contanier .dev-text{
    width: 50%;
    font-size: 20px;
}
.qa-sec .contanier .dev-text h1{
    color: #fafafa;
    font-size: 70px;
    margin-bottom: 10px;
}
.qa-sec .contanier .dev-text span{
    font-size: 40px;
    color: #64c864;
}
.qa-sec .contanier .dev-text p{
    color: #fafafa;
    font-size: 40px;
    margin: 10px 0 50px;
    line-height: 1.7;
}
.qa-sec .contanier .dev-text .btn{
    color: #ffffff;
    border: 1px solid #64c864;
    background-color: #64c864;
    padding: 14px 40px;
    border-radius: 5px;
    transition: 0.3s;
}
.qa-sec .contanier .dev-text .btn:hover{
  background: transparent;
}
.qa-sec .contanier .div-img{
  width: 35%;
  position: absolute;
  bottom: -10px;
  right: 0;
}
.qa-sec .contanier .div-img img{
  width: 100%;
}
#btnMenu{
  display: none;
}
/* Resoponsive */
@media(max-width : 980px){
header nav .links{
      position: absolute;
      top: 100%;
      right: -420px;
      flex-direction: column;
      background-color: #000;
      border-left: 1px solid #444444a8;
      width: 400px;
      height: 100vh;
      text-align: center;
      padding: 20px 0;
      transition: 0.3s;
}
.social-links{
  display: none;
}
header nav .links.active{
    right: 0;
}
#btnMenu{
  display: block;
  color: #ffffff;
  font-size: 30px;
}
.qa-sec{
  height: auto;
}
.qa-sec .contanier{
  flex-direction: column;
}
.qa-sec .contanier .dev-text{
  width: 80%;
  margin-top: 150px;
  margin-bottom: 60px;
  text-align: center;
}
.qa-sec .contanier .div-img{
  position: relative;
  width: 50%;
}
.qa-sec .contanier .dev-text h1{
font-size: 50px;
}
.qa-sec .contanier .dev-text span{
    font-size: 30px;
}
.qa-sec .contanier .dev-text p{
    font-size: 30px;
}
}
@media(max-width: 450px){
    .qa-sec .contanier .dev-text h1{
    font-size: 35px;
}
.qa-sec .contanier .dev-text span{
    font-size: 25px;
}
.qa-sec .contanier .dev-text p{
    font-size: 16px;
}
.qa-sec .contanier .div-img{
  width: 100%;
}
}
